<section id="products-inside-{{ section.id }}" data-section="{{ section.id }}">
{{ 'section-add-to-cart.css' | asset_url | stylesheet_tag }}
{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}
  <div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="section-{{ section.id }}-padding products-inside">
      <div class="pro-box page-width">
        <div class="box-inn">
          <img src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/A1-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662113814">
          <div class="acc">
            <div class="acc-head">Paper Weight </div>
              <div class="acc-content">
                <p>Crane Themed Paper Weight <br>PRODUCT OF: Kyoto<br>PRODUCED BY: Kyukyodo<br><br>
                Love at first sight when you behold this in person. A contemporay take on a traditional symbol of Japan, it's never out of place and is a joy to behold
                </p>
              </div>
            </div>
          </div>
          <div class="box-inn">
          <img src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/B1-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662114678">
          <div class="acc">
            <div class="acc-head">Hand Fan</div>
              <div class="acc-content">
                <p>
                  PRODUCT : Traditonal Handmade Summer Fan
                  <br>
                  PRODUCT OF: Kyoto
                  <br>
                  PRODUCED BY: A variety of local artisans.
                  <br>
                  <br>
                  Due to high demand of these extraordinary limited edition fans, the design of the fan delivered will be dependent
                  on availability at the time of ordering. Thank you for your understanding.
                </p>
              </div>
          </div>
        </div>
        <div class="box-inn">
          <img src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/C1-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662115177">
          <div class="acc">
            <div class="acc-head"> Shiori</div>
            <div class="acc-content">
              <p>
                <br>
                PRODUCT OF: Kyoto
                <br>
                PRODUCED BY: Fukui Asahido
                <br>
                <br>
                A unique collection of Kyoto - World Heritage Bookmarks. Each bookmark has an exquisitely drawn image of a famous
                Kyoto landmark. Keep them all for yourself or share them with friends and family. Either way they'll be cherished
                for years to come.
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/A2-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662113251">
            <div class="acc">
              <div class="acc-head">Notari Notari</div>
              <div class="acc-content">
                <p>
                  PRODUCT OF: Kyoto
                  <br>
                  FLAVOR: Savory
                  <br>
                  SUITABLE FOR VEGETARIANS: Yes
                  <br>
                  COMMON ALLERGENS: Wheat, Soy
                  <br>
                  PRODUCED BY:: Buson-an
                  <br>
                  <br>
                  A declicious collection of traditional rice crackers from a company that still procuces them in the traditional
                  manner.
                  *This mochi is called daifuku,
                  or stuffed mochi. It's flavored
                  with chocolate and amaou strawberries.
                  Amaou are grown in Fukuoka
                  and referred to as ""The King of
                  Strawberries"" for their delicious taste.*
                </p>
              </div>
            </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/B2-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662115602">
          <div class="acc">
            <div class="acc-head">Azabu Karinto</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Tokyo
                <br>
                FLAVOR: Sweet
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS: Wheat, Milk, Sesame
                <br>
                PRODUCED BY:: Azabu Karinto
                <br>
                <br>
                Deep-fried snacks flavoured with brown sugar. Based in Tokyo, Azabu Karinto is known for the lines of people
                that form around the block to savor these delicacies.
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/C2-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662115676">
          <div class="acc">
            <div class="acc-head">Wasabi Pistachios</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Kyoto
                <br>
                FLAVOR: Savory
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS: Wheat, Milk
                <br>
                PRODUCED BY:: Mametomi Honpo
                <br>
                Kyoto Komamehan Wasabi Pistachios
                <br>
                <br>
                These popular wasabi flavored bean sweets are packed with flavor and have a delightful a crunchy texture.
                With some green tea, they make a perfect mid-afternoon treat.
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/A3-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662113251">
          <div class="acc">
            <div class="acc-head">Koicha-Temari</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Kyoto
                <br>
                FLAVOR: Sweet
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS:None
                <br>
                PRODUCED BY:: Crochet
                <br>
                <br>
                Crochet is a candy store dating back 140-year specializing in traditional Kyoto candy.
                Preserving the recipes and techniques handed down to them, Crochet makes their candy 100% by hand.
                Koicha-Temari candies have an unforgettable and delighful matcha taste to them.
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/B3-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662116127">
          <div class="acc">
            <div class="acc-head">Men Tou Ka</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Kyoto
                <br>
                FLAVOR: Sweet
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS:None
                <br>
                PRODUCED BY:: Zarame
                <br>
                <br>
                Japanese cotton candy from the heart of Kyoto's famous Arashiyama district. Imagine the cotton candy you had
                as a child and put a Japanese twist on it. Heavenly!
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/C3-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662116341">
          <div class="acc">
            <div class="acc-head">Waffle Cookies</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Kyoto
                <br>
                FLAVOR: Sweet
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS:Wheat, Milk, Soy, Eggs
                <br>
                PRODUCED BY:: Crochet
                <br>
                <br>
                *TEMPORARY TEXT* *This mochi is called daifuku,
                or stuffed mochi. It's flavored
                with chocolate and amaou strawberries.
                Amaou are grown in Fukuoka
                and referred to as ""The King of
                Strawberries"" for their delicious taste.*
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/A4-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662113251">
          <div class="acc">
            <div class="acc-head"> Wasanbon</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Kyoto
                <br>
                FLAVOR: Sweet
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS:None
                <br>
                PRODUCED BY:: Kyo Kaera
                <br>
                <br>
                Wasanbon is a premium candy originally produced in Kagawa on the island of Shikoku. It has a 400 years old
                history and is still very popular today as an adorable confectionary. Savor the refreshing sweetness that is
                slowly released.
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/B4-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662116649">
          <div class="acc">
            <div class="acc-head">Hon Warabimochi</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Kyoto
                <br>
                FLAVOR: Sweet
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS:Soy
                <br>
                PRODUCED BY:: Oimatsu
                <br>
                <br>
                Warabi-mochi is a Japanese sweet made of bracken starch. It is often coated with toasted soybean flour and it
                has a jelly-like chewy texture.
                It is especially popular during the summer season and pairs well with sensha tea.
              </p>
            </div>
          </div>
        </div>
        <div class="box-inn">
          <img
            src="https://cdn.shopify.com/s/files/1/0630/3157/4748/files/C4-image-october2022-gift-box-mizu-japan_jpg.jpg?v=1662117009">
          <div class="acc">
            <div class="acc-head">Sencha Tea</div>
            <div class="acc-content">
              <p>
                PRODUCT OF: Kyoto
                <br>
                FLAVOR: Green tea
                <br>
                SUITABLE FOR VEGETARIANS: Yes
                <br>
                COMMON ALLERGENS: N/A
                <br>
                PRODUCED BY:: Ippodo
                <br>
                <br>
                Sen means 'infuse', and sencha is tea that is infused in water. Sencha is consumed warm and at all hours of
                the day in Japan. With low levels of caffeine, it can provide a pleasant boost without keeping you up at
                night.
              </p>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Add to cart {% endcomment %}
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
        <div class="page-width">
          <div class="cta-wrapper">
            <div class="cta-button">
              <div {{ block.shopify_attributes }}>
                <product-form class="product-form">
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="b-get-btn">
                    <button type="submit" name="add" class="get-btn button"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                      <span>
                        <input type="hidden" name="return_to" value="/checkout/" />
                        {{ 'products.product.add_to_cart' | t }}
                      </span>
                      <div class="loading-overlay__spinner hidden">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </button>
                  </div>
                {%- endform -%}
                </product-form>
              </div>
            </div>
          </div>
        </div>
      {% comment %} End Add to cart {% endcomment %}
    </div>
  </div>
</section> 
  <script>
  $(document).ready(function() {
  $('.box-inn .acc:nth-child(1) .acc-head').addClass('active');
  $('.box-inn .acc:nth-child(1) .acc-content').slideDown();
  $('.acc-head').on('click', function() {
      if($(this).hasClass('active')) {
        $(this).siblings('.acc-content').slideUp();
        $(this).removeClass('active');
      }
      else {
        $('.acc-content').slideUp();
        $('.acc-head').removeClass('active');
        $(this).siblings('.acc-content').slideToggle();
        $(this).toggleClass('active');
      }
  });     
  });
  </script>
  {% schema %}
{
  "name": "Products Inside",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ]
}
{% endschema %}